html,
body {
    height: 100%;
    background-color: black;
    background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
}

.fab {
    color: #eee;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.fa-github:hover {
    color: #A364DA;
}

.fa-linkedin-in:hover {
    color: #0C66C2;
}

.fa-spotify:hover {
    color: #1AD760;
}

.fa-tiktok:hover {
    color: #25EBE7;
}

#social-links {
    margin-top: 1em;
}