html,
body {
    height: 100%;
    background-color: black;
    background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
}

.fa {
    color: #eee;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.fa-instagram:hover {
    color: #c13584;
}

.fa-pinterest:hover {
    color: #bd081c;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #1da1f2;
}

#social-links {
    margin-top: 1em;
}