html,
body {
    height: 100%;
    background: url("background.jpg") no-repeat center center fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
}

#social-links {
    position: absolute; /* Position the social links absolutely within the container */
    bottom: 0.5em; /* Adjust the distance from the bottom as needed */
    left: 50%; /* Position horizontally at the center */
    transform: translateX(-50%); /* Center horizontally */
    display: flex; /* Ensure the social links are displayed as a flex container */
    justify-content: center; /* Center the social links horizontally */
}

.fab {
    color: whitesmoke; /* Set the default color of the icons */
    filter: grayscale(
        100%
    ); /* Apply grayscale filter to make icons appear grayed out */
    transition: all 0.3s ease-in-out; /* Apply smooth transition to all properties over 0.3 seconds with ease-in-out timing function */
}

#social-links .fab {
    margin: 0 0.5em; /* Adjust margin between icons horizontally */
    display: inline-block; /* Ensure icons are displayed in a line */
}

.fab:hover {
    filter: grayscale(0%);
}

.fa-youtube:hover {
    color: #ff0100;
}

.fa-twitch:hover {
    color: #9147ff;
}

.fa-tiktok:hover {
    color: #25ebe7;
}

.fa-discord:hover {
    color: #5864f2;
}

.fa-spotify:hover {
    color: #1ad760;
}
